/* .tvSeries{
    border: 1px solid white;
    width: 25rem;
} */

.series{
    position: relative;
    height: 14rem;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;

}

.series-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    /* border: 1px solid; */

}

.series-items .series .image{
    margin-bottom: .5rem;
}

.series-items .series .image img{
    height: 10.875rem;
}

.series-items .series .image .large {
    width: 100%;
    border-radius: .5rem;
    /* margin-top: -1rem; */
    cursor: pointer;
    /* border: 1px solid; */
}

.series-items .series .image .medium {
    display: none;
}

.series-items .series .image .small {
    display: none;
}

.series-items .series .about {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    font-size: .813rem;
    opacity: .75;
    margin: 0;
    /* border: 1px solid; */
}

.series-items .series .about img {
    height: .78rem;
    width: .75rem;
    margin-right: .4rem;
    /* border: 1px solid; */

}

.series-items .series .item-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    /* border: 1px solid; */
    position: absolute;
    bottom: 0;

}

.oval{
    width: .188rem;
    height: .188rem;
    background: #fff;
    border-radius: 50%;
    margin: .5rem .5rem;
    opacity: .5;
}

.bookmark-icon{
    /* border: 1px solid white; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.bookmark-icon:hover{
    background: #fff;
    cursor: pointer;
}

.bookmark-icon:hover path{
    stroke: #000;
}

.series-items .series img:hover{
    opacity: .5;
}

.series-items .series .item-info{
    margin-top: -3rem;
}

.play-items{
    width: 7rem;
    height: 3rem;
    position: absolute;
    top: 35%;
    left: 32%; 
    border-radius: 28.5px;
    background-color: rgb(255, 255, 255, .5);
    mix-blend-mode: normal;
    border: solid 1px #fff;    
    z-index: 1;   
    display: none;
}

.icon{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 0;
    color: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    /* border: 1px solid; */
}

.icon h4{
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    /* z-index: 5; */
}

.icon svg{
    /* position: absolute; */
    margin-top: 0;
}

@media only screen and (max-width: 820px) and (min-width:480px){
    main{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .series-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .series-items .series .image .medium{
        display: inline;
        width: 13.5rem;
        border-radius: .5rem;
        margin-top: -1rem;
    }
    .series-items .series .image .large{
        display: none;
    }
    .series-items .series  .image .small{
        display: none;
    }
    .series-items .bookmark-icon{
        top: 2rem;
        left: 10.5rem;
    }
    .series-items .series  .item-title{
        margin-top: .1rem;
    }
    .series-items .series .play-items{
        top: -6rem;
        left: 3rem; 
    }
}

@media only screen and (max-width: 420px) and (min-width:320px){
    main{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .series{
        margin-left: -.7rem;
    }
    .series-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .series-items .series   .image .small{
        display: inline;
        width: 10.25rem;
        border-radius: .5rem;
        margin-top: -1rem;
    }
    .series-items .series   .image .medium{
        display: none;
    }
    .series-items .series   .image .large{
        display: none;
    }
    .series-items .bookmark-icon{
        top: 1.5rem;
        left: 7.5rem;
    }
    .series-items .series .item-title{
        font-size: .875rem;
        margin-top: .1rem;
    }
    .series-items .series  .about {
        font-size: .688rem;
    }    
    .about img {
        height: .625rem;
        width: .625rem;
        margin-top: .12rem;
    }
    .play-items{
        top: -5.5rem;
        left: 1.3rem; 
    }
    
}