nav{
    /* border: 1px solid white; */
    width: 6rem;
    height: 91vh;
    padding: 2rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #161D2F;
}

.nav-items {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.nav-items .logo{
    /* border: 1px solid white; */
    width: 2rem;
    height: 1.5rem;
    background: url('/public/assets/logo.svg');
    margin-bottom: 4.7rem;
}

nav .nav-items ul{
    /* border: 1px solid white; */
    color: aliceblue;
    list-style: none;
    padding: 0;
    width: 1.25rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul li{
    height: 1.25rem;
    /* border: 1px solid red; */
}


.nav-items ul .home{
    background: url('../../public/assets/icon-nav-home.svg');
    width: 1.25rem;
    background-size: cover;
}

.nav-items ul .movies{
    background: url('../../public/assets/icon-nav-movies.svg');
    width: 1.25rem;
    background-size: cover;
}

.nav-items ul .tv-series{
    background: url('../../public/assets/icon-nav-tv-series.svg');
    width: 1.25rem;
    background-size: cover;
    filter: brightness(0) invert(1);
}

.nav-items ul .bookmarked{
    background: url('../../public/assets/icon-nav-bookmark.svg');
    width: 1.05rem;
    background-size: cover;
}


.nav-items ul li:hover{
    filter: brightness(0) saturate(100%) invert(59%) sepia(78%) saturate(5955%) hue-rotate(335deg) brightness(104%) contrast(102%);
    }


nav .user-avatar{
    border: 1px solid white;
    background: url('/public/assets/image-avatar.png');
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    margin-top: auto;
    border-radius: 50%;
}


@media screen and (max-width: 850px) {
    nav{
    /* border: 1px solid white; */
    width: 90%;
    height: 4.5rem;
    margin: auto;
    padding: 1.5rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #161D2F;
} 

.nav-items {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    /* align-items: center; */
    width: 70%;
}

.nav-items .logo{
    /* border: 1px solid white; */
    width: 2rem;
    height: 1.5rem;
    margin-bottom: 0;
}

nav .nav-items ul{
    /* border: 1px solid white; */
    color: aliceblue;
    list-style: none;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 50%;
    /* justify-content: space-between; */
    align-items: center;
}   

nav .user-avatar{
    margin-top: 0;
}
}


@media screen and (max-width:440px) {
    nav{
        /* border: 1px solid white; */
        width: 100vw;
        height: auto;
        padding: 1rem 1rem;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #161D2F;
    }
    
    .nav-items {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 120%;
        height: auto;
    }
    
    .nav-items .logo{
        /* border: 1px solid white; */
        width: 1.5rem;
        height: 1.25rem;
        background-size: cover;
        margin-bottom: 0;
    }
    
    nav .nav-items ul{
        /* border: 1px solid white; */
        color: aliceblue;
        list-style: none;
        padding: 0;
        width: 8.3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .nav-items ul li{
        height: 1rem;
        /* border: 1px solid red; */
    }

    .nav-items ul .home{
        background: url('../../public/assets/icon-nav-home.svg');
        width: 1rem;
        background-size: cover;
        background-position: center;
        filter: brightness(0) invert(1);
    }
    .nav-items ul .movies{
        background: url('../../public/assets/icon-nav-movies.svg');
        width: 1rem;
        background-size: cover;
        background-position: center;

    }
    
    .nav-items ul .tv-series{
        background: url('../../public/assets/icon-nav-tv-series.svg');
        width: 1rem;
        background-size: cover;
        background-position: center;

    }
    
    .nav-items ul .bookmarked{
        background: url('../../public/assets/icon-nav-bookmark.svg');
        width: .8rem;
        background-size: cover;
        background-position: center;
    }

    .nav-items ul li:hover{
        filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(7453%) hue-rotate(9deg) brightness(103%) contrast(115%);
        }
    
    
    
    nav .user-avatar{
        border: 1px solid white;
        background: url('/public/assets/image-avatar.png');
        width: 1.5rem;
        height: 1.5rem;
        background-size: cover;
        margin-top: 0;
        border-radius: 50%;
    }
    
    
}