.movies{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    position: relative;
}

.movies .movie{
    /* border: 1px solid; */
    position: relative;
    height: 14rem;
}

.movies .movie .image{
    display: flex;
    flex-direction: column;
}

.movies .movie .image .medium, .small{
    display: none;
}

.movies .movie .image img{
    width: 100%;
    height: 10.8rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.movies .movie .item-info{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.movies .movie .item-info .about{
    display: flex;
    margin-bottom: 5px;
}

.movies .movie .item-info .about img{
    margin-right: .5rem;
    width: 12px;
    height: 12px;
    align-self: center;
    }

.movies .movie .item-info .item-title{
    font-weight: 500;
font-size: 1.125rem;
line-height: 1.5rem;
letter-spacing: -0.5px;
margin: 0;
}