* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color--semi-blue-black: #161d2f;
  --color--red: #fc4747;
  --color--white: #ffffff;
}

.container {
  width: 30%;
  height: 25rem;
  background: var(--color--semi-blue-black);
  border-radius: 1.5rem;
}

.container h4 {
  color: var(--color--white);
  font-size: 3rem;
}

.container input {
  border: 1px solid var(--color--white);
  height: 1rem;
  background: none;
  margin: 8px 0;
  padding: 14px 20px;
}

.container button {
  width: 50%;
  background-color: var(--color--red);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
