main{
    /* border: 1px solid white; */
<<<<<<< HEAD
    color: aliceblue;
    padding: 2rem;
    /* height: 100vh; */
=======
    color: #ffffff;
    padding: 1.5rem;
>>>>>>> origin/Dev
    display: flex;
    width: 100%;
    position: relative;
}

@media screen and (max-width:850px){
    main{
        flex-direction: column;
        padding: 1.5rem 0;
    }
    
}

@media screen and (max-width:440px){
    main{
        flex-direction: column;
        padding: 0;
    }
}