.recommended{
    border: 1px solid white;
    padding: 0;
    /* width: 90vw; */
}

.recommended h1{
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 2.5rem;
letter-spacing: -0.5px;
}

.recommended-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    gap: 2rem;

}

.recommended-items .option{
    /* border: 1px solid white; */
    height: 14rem;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.recommended-items .bookmark-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* border: 1px solid white; */
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #10141E;
    opacity: 0.5;
    z-index: 2;
}

.recommended-items .bookmark-icon svg{
    stroke: #ffffff;
}

.recommended-items .option .image .large{
width: 100%;
height: 10.875rem;
border-radius: .5rem;
}

.recommended-items .option .image .medium, .small{
    display: none;
}


.recommended-items .option .image img:hover{
opacity: 0.5;
}

.recommended-items .option .item-info {
    /* border: 1px solid; */
    position: absolute;
    bottom: 0;
    margin-bottom: -.5rem;
}

.recommended-items .option .item-info .about{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.recommended-items .option .item-info .about img{
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.4rem;
    border-radius: 0;
}

.recommended-items .option .item-info .about .oval{
    width: 3px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 .5rem;
}

.recommended-items .option .item-info .item-title{
margin: 0;
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
line-height: 1.5rem;
}



@media screen and (max-width:850px) {
    .recommended{
        /* border: 1px solid white; */
        padding: 0;
        /* width: 97.5%; */
    }
    
    .recommended-items{
        display: grid;
        grid-template-columns: auto auto auto;
        position: relative;
        gap: 2rem;
    
    }
    
    .recommended-items .option{
        /* border: 1px solid white; */
        width: 100%;
        position: relative;
        cursor: pointer;
    }
    
    .recommended-items .bookmark-icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* border: 1px solid white; */
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #10141E;
        opacity: 0.5;
        z-index: 2;
    }
    
    .recommended-items .bookmark-icon svg{
        stroke: #ffffff;
        /* fill: #ffffff; */
    }
    
    .recommended-items .option .image .large, .small{
        display: none;
    }
        
        .recommended-items .option .image .medium{
            display: grid;
            width: 100%;
            height: 8.75rem;
            border-radius: .5rem;
        }
        
    .recommended-items .option .image img:hover{
    opacity: 0.5;
    }
    
    .recommended-items .option .item-info .about{
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        /* box-shadow: 5px 10px 18px red; */
    }
    
    .recommended-items .option .item-info .about img{
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.4rem;
        border-radius: 0;
    }
    
    .recommended-items .option .item-info .about .oval{
        width: 3px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 0 .5rem;
    }
    
    .recommended-items .option .item-info .item-title{
    margin: 0;
    font-weight: 500;
font-size: 18px;
line-height: 23px;
width: auto;
    }   
}

@media screen and (max-width:440px) {
    .recommended{
        /* border: 1px solid white; */
        padding: 0;
        width: 100%;
    }

    .recommended h1{
        font-size: 1.25rem;
        line-height: 1.56rem;
        font-weight: 300;
    }
    
    .recommended-items{
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
        gap: 1rem;
    }
    
    .recommended-items .option{
        /* border: 1px solid white; */
        width: 100%;
        height: 9.6rem;
        position: relative;
        cursor: pointer;
    }
    
    .recommended-items .bookmark-icon{
        position: absolute;
        top: .5rem;
        right: .6rem;
        /* border: 1px solid white; */
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #10141E;
        opacity: 0.5;
        z-index: 2;
    }
    
    .recommended-items .bookmark-icon svg{
        stroke: #ffffff;
        /* fill: #ffffff; */
    }
    
    .recommended-items .option .image .medium{
        display: none;
    }
        
    .recommended-items .option .image .small{
            display: grid;
            width: 100%;
            height: 6.785rem;
            border-radius: .5rem;
            margin-bottom: .5rem;
        }
        
    .recommended-items .option .image img:hover{
    opacity: 0.5;
    }
    
    .recommended-items .option .item-info .about{
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        font-size: 0.7rem;
        line-height: 1.125rem;
    }
    
    .recommended-items .option .item-info .about img{
        width: 0.75rem;
        height: 0.75rem;
        margin-right: 0.4rem;
        border-radius: 0;
    }
    
    .recommended-items .option .item-info .about .oval{
        width: 2px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 50%;
        margin: 0 .3rem;
    }
    
    .recommended-items .option .item-info .item-title{
    margin: 0;
    font-size: 0.85rem;
    line-height: 1.125rem;
    }  
    
}